            #bgimg{background-image:url("student.jpg"); }
            #navbar_menu{font-size: 20px;color: azure;margin: 25px;float: right;}
            .jumbotron-fluid{padding-top: 50px;}
            #marque{ height: 1px;border: 1px solid}
            #category{width:25%; float: left; padding:25px; border: 2px solid;}
            #banner{width:70%; float: left;margin-left: 2.5%;padding: 25px;border:2px solid;}
            #containt{height: auto;width: 100%;}
            #containt p{font-size: 20px;padding: 35px}
            #containt h2{text-align: center;font-style: italic;font-weight: bold;color: green;}
            #list{height: auto;width: 25%; margin-left: 550px;margin-right: 382px;}
            #clist{margin-top: 50px;}
            #clist form{width: 50%;padding-top: 25px;margin-top: 25px;}